 <form method="POST">
                <ul>
                    <li>Facility: {{{facility}}} </li>
                    <li>Machine Code: {{{code}}} </li>
                    <li>No of Hydraulic motors:<br> <input type="text" autocomplete="off" id="hmotor" name="NoOfHydraulicMotors" value="" placeholder=""> </li>
                    <li>No of Coolant motors:<br> <input type="text" autocomplete="off" id="cmotor" name="NoOfCoolantMotors" value="" placeholder=""> </li>
                    <li>No of Lubrication motors:<br> <input type="text" autocomplete="off" id="lmotor" name="NoOfLubricationMotors" value="" placeholder="">
                    </li>
                    <li>Machine Name:<br> <input type="text" autocomplete="off" id="name" name="MachineName" value="" placeholder="">
                    </li>
                    {{{submit}}}
                </ul>
            </form>