<td>{{#each Facility }}<li>{{this}} </li>{{/each}} </td>
<td>{{#each MachineCode}}<li>{{this}} </li>{{/each}} </td>
<td>{{#each MotorName}}<li>{{this}} </li>{{/each}} </td>
<td><input type="text" autocomplete="off" id="Tl" value="" placeholder=""></td>
<td><input type="text" autocomplete="off" id="Th" value="" placeholder=""></td>
<td><input type="text" autocomplete="off" id="Vl" value="" placeholder=""></td>
<td><input type="text" autocomplete="off" id="Vh" value="" placeholder=""></td>
<td><input type="text" autocomplete="off" id="Nl" value="" placeholder=""></td>
<td><input type="text" autocomplete="off" id="Nh" value="" placeholder=""></td>