<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
    <div>
		<div class="container-fluid">
			<div class="row d-flex justify-content-between">
				<div class="col-md-auto">
					<div class="home"><a href="">Home</a></div>
					<div class="first">
						<h10>IN5225</h10>
						<div class="link"> <a href="">status</a><br>
							<a href="">complete</a>
						</div>
					</div>

				</div>



				<div class="col-md-8">
					<div class="row">
						<h3>Complete Record - IN5225 Broaching</h3>
                        <button style="float: right; margin-left: 240px; "><a href="">Export Data (CSV)</a></button>
					</div>
					<div class="row">
						{{!-- djhfuhufiejwifdjjjjjjjjjjjjjjjjjjzszzzzzzzzzzzzz --}}
					</div>
					<div class="row">
							<div class="ex1">
								<table>
									<tr>
										<th>Power Consumption(W)</th>
										<th>Time</th>
									</tr>
									<tr>
										<td>0</td>
										<td>jhgyhgygy</td>
									</tr>
								</table>
							</div>
							<div class="chart1">
								{{!-- chart --}}
							</div>
					</div>
					<div class="row">
						<div class="ex1">
							<button><a href="">Register</a></button>
							<table>
								<tr>
									<th>Temperature (°C)</th>
									<th>Vibrations (m/s<sup>2</sup)></th>
									<th>Noise (dB)</th>
									<th>Time</th>
									<th>Faulty</th>
									<th>Remarks</th>
								</tr>
								<tr>
									<td>255</td>
									<td>25</td>
									<td>25</td>
									<td>vffvfvg565888</td>
									<td></td>
									<td>sffrefrfr</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>